.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}
.docItemContainerFull {
  max-width: 1120px !important;
  padding: 0;
}
.fullWidthContainer {
  max-width: 100% !important;
  padding: 0;
}
.fullWidthContainer article {
  padding: 0 !important;
}
.fullWidthContainer .col {
  padding: 0 !important;
}
.fullWidthContainer header {
  display: none !important;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
