.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}
.docItemContainerFull {
  max-width: 1024px !important;
}
@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
