.container-whats-next {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #F4ECFD;
  border: 3px dotted #7011E4;
}

.mdxContent {
  margin-bottom: 40px;
}

.progressBar {
  padding-top: 10px;
  margin-bottom: 0.5rem;
  height: 10px;
  border-radius: 4px;
  background-color: #e0e0e0;
}

.progressText {
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
