.container {
  padding: 2rem 1rem 0 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 2rem 0 -2rem 0;
}

.progressBar {
  margin-bottom: 0.5rem;
  height: 10px;
  border-radius: 4px;
  background-color: #e0e0e0;
}

.progressText {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
