.title {
  color: #451e11;
}
.text {
  color: #451e11;
}
.section_hero_hr {
  position: absolute;
  inset: 0;
  top: auto;
  width: 100%;
  height: 1px;
  background-color: #d1b9b0;
}
[data-theme="dark"] .title {
  color: var(--ifm-heading-color);
}
[data-theme="dark"] .text {
  color: var(--ifm-color-emphasis-700);
}
[data-theme="dark"] .section_hero_hr {
  background-color: rgba(209, 185, 176, 0.5);
}
