html[data-theme="light"] {
  --ifm-search-background: #fdfcfc;
  --ifm-search-text-color: rgba(0, 0, 0, 0.6);
}

html[data-theme="dark"] {
  --ifm-search-background: rgb(80, 80, 80);
  --ifm-search-text-color: rgba(255, 255, 255, 0.6);
}

//overrides
.algolia-search {
  width: 75%;

  @media (max-width: 996px) {
    position: unset !important;
  }

  .DocSearch-Button:hover {
    background: var(--ifm-search-background);

    .DocSearch-Button-Placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  .DocSearch-Button {
    background: var(--ifm-search-background);

    .DocSearch-Button-Placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  > button {
    width: 100%;
    border-radius: 6px;
    background-color: #fdfcfc;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .DocSearch-Search-Icon {
    width: 15px;

    > path {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .DocSearch-Button-Keys {
    min-width: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2px 4px;

    .DocSearch-Button-Key:first-child {
      font-size: 20px;
    }

    .DocSearch-Button-Key {
      border-radius: 0;
      color: rgba(0, 0, 0, 0.3);
      position: static;
      box-shadow: none;
      background: none;
      font-size: 15px;
      margin: 0;
      padding: 0;
      width: 13px;
    }
  }
}

html[data-theme="dark"] .algolia-search {
  .DocSearch-Button {
    .DocSearch-Button-Placeholder {
      color: rgba(256, 256, 256, 0.5);
    }
  }

  .DocSearch-Button:hover {
    opacity: 0.8;
    .DocSearch-Button-Placeholder {
      color: rgba(256, 256, 256, 0.5);
    }
  }

  .DocSearch-Search-Icon {
    > path {
      color: rgba(256, 256, 256, 0.5);
    }
  }

  .DocSearch-Button-Key {
    color: rgba(256, 256, 256, 0.4);
  }
  .DocSearch-Button-Keys {
    border: 1px solid rgba(256, 256, 256, 0.4);
  }
}
