
html[data-theme='light'] {
  
}

html[data-theme='dark'] {
  
}

:root {
}

//overrides
.algolia-search {
    width: 100%;

    .DocSearch-Button:hover {
        .DocSearch-Button-Placeholder {
            color: rgba(0, 0, 0, 0.2);
        }

    }

    .DocSearch-Button {
        .DocSearch-Button-Placeholder {
            color: rgba(0, 0, 0, 0.3);
        }
    }
     
    > button {
        width: 100%;
        border-radius: 6px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .DocSearch-Search-Icon {
        width: 15px;
        
        > path {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .DocSearch-Button-Keys {
        min-width: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 2px 4px;

        .DocSearch-Button-Key:first-child {
            font-size: 20px;
        }

        .DocSearch-Button-Key {
            border-radius: 0;
            color: rgba(0, 0, 0, 0.3);
            position: static;
            box-shadow: none;
            background: none;
            font-size: 15px;
            margin: 0;
            padding: 0;
            width: 13px;
        }
    }
}