// html[data-theme='light'] {
//   --sidebar-category-c: var(--c-gray-100);
//   --sidebar-border-c: var(--c-gray-0);

//   --ifm-menu-color-background-active: var(--c-blue-0);
//   --ifm-menu-color: var(--c-indigo-80);
// }

// html[data-theme='dark'] {
//   --sidebar-category-c: var(--c-gray-0);
//   --sidebar-border-c: var(--c-gray-90);

//   --ifm-menu-color: var(--c-gray-20);
// }

// :root {
//   --doc-sidebar-width: 17.5rem;

//   --dropdown-icon-width: 0.625rem;
//   --dropdown-icon-height: 0.375rem;
//   --dropdown-icon-gap: 0.688rem;

//   --ifm-menu-link-padding-vertical: 0.5rem;
//   --ifm-menu-color-active: var(--ifm-link-color);

//   --sidebar-spacing-horizontal: 1.5rem;
// }

// //overrides
#__docusaurus {
  [class^='docSidebarContainer'] {
    background: var(--token-primary-bg-c);

    position: sticky;
    top: 0;
    margin-block-start: 0;
    will-change: initial;

    height: 100vh;

    border-inline-end: 1px solid var(--sidebar-border-c);

    > a {
      display: flex;
      align-items: center;
      height: var(--ifm-navbar-height);

      padding-inline-start: var(--sidebar-spacing-horizontal);
      padding-inline-end: var(--sidebar-spacing-horizontal);
    }
  }

  // Scrollbar
  .theme-doc-version-badge {
    padding-left: 0;
  }

  .menu::-webkit-scrollbar {
    width: 2px;
  }

  .menu::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .theme-doc-sidebar-container:hover {
    .menu::-webkit-scrollbar {
      width: 2px;
    }

    .menu::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  // makes the sidebar smaller
  aside[class^="theme-doc-sidebar-container"] {
    --doc-sidebar-width: 280px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  // sidebar children verticle line guide
  .menu__list ul {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 0);
    font-weight: 600;
  }

  [class^='sidebarLogo'] {
    display: none !important;
  }

   // sidebar first-level categories should be more separated
  .theme-doc-sidebar-item-category-level-1.menu__list-item:not(:first-child) {

    > .menu__list-item-collapsible {
      margin-bottom: 0.3rem;

      > a {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-left: -5px;
        letter-spacing: 0.05rem;
      }

    }

    margin-top: 1.5rem;
  }

  // First child menu heading is bold
  .theme-doc-sidebar-item-link-level-1.menu__list-item {
    > .menu__link {
      font-weight: 800;
      margin-left: -5px;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
  }

  // Left and bottom margin for side navigation
  .menu__list {
    margin: 0 0 0 0.5rem;
  }

  // Smaller child links
  .menu__link {
    font-size: 0.8rem;
  }

  .menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50%/1.3rem 1.3rem;
  }

  .clear-btn.menu__caret:hover {
    background: none;
  }

  .clean-btn:hover {
    background: none;
  }

  .menu__link--sublist-caret:after {
      background: var(--ifm-menu-link-sublist-icon) 50%/1.3rem 1.3rem;
  }

  // Adjust the side navbar to be spaced evenly (same right margin spacing)
  .menu {
    padding-right: 0.5rem;
    padding-bottom: 5rem !important;
  }

  .theme-doc-sidebar-item-category-level-1:last-of-type {
    margin-block-end: 1.5rem;
  }

  .theme-doc-sidebar-item-category-level-1 {
    > .menu__link {
      color: var(--sidebar-category-c);

      font-weight: 600;
      font-size: 0.938rem;
      line-height: 100%;
    }
  }
}
