html[data-theme='light'] {
    --markdown-toc-title-c: var(--c-indigo-60);
    --markdown-toc-list-item-c: var(--c-indigo-70);
    --markdown-text-intro-c: var(--c-carbon-80);
    --markdown-bold-c: var(--c-carbon-100);

    --ifm-external-link: var(--ifm-color-primary);
}

html[data-theme='dark'] {
    --markdown-toc-title-c: #fff;
    --markdown-toc-list-item-c: #fff;
    --markdown-text-intro-c: var(--c-indigo-40);
    --markdown-bold-c: #fff;

    --ifm-external-link: #BB86FC;
}

.markdown {
    --ifm-heading-vertical-rhythm-bottom: 0.6;
    --ifm-heading-vertical-rhythm-top: 2;
    --ifm-h2-vertical-rhythm-top: 2.75;
    --ifm-h3-vertical-rhythm-top: 2.25;
  
    --ifm-h2-font-size: 2rem;
    --ifm-h3-font-size: 1.5rem;
    --ifm-h4-font-size: 1.25rem;
    --ifm-h5-font-size: 1rem;
    --ifm-h6-font-size: 0.875rem;

    strong,
    b {
        font-weight: 600;
        color: var(--markdown-bold-c);
    }

    //differentiate between inline code and code blocks
    code {
        font-size: 95%;
    }
    pre code {
        font-size: 0.813rem;
    }

    .encapsulation-pill {
        position: absolute;
        top: calc(var(--ifm-navbar-height) + 4rem);
    }

    > * {
        max-width: 100%;
    }

    p,
    li,
    td,
    tr {
        font-size: 1rem;
        // letter-spacing: var(--letter-spacing-tight);
    }

    p,
    li,
    .tabs-container {
        line-height: 200%;
    }

    // have to override style coming from .h1Heading_node_modules-\@docusaurus-theme-classic-lib-next-theme-Heading-styles-module
    header > h1 {
        --ifm-h1-font-size: clamp(2.5rem, 8vw, 3.5rem);
        font-size: var(--ifm-h1-font-size);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        > a {
        color: inherit;
        }
    }

    h1 {
        margin-block-start: 2.5rem;
    }

    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
        margin-block-start: 1rem;
    }

    //intro paragraphs
    > header + p {
        color: var(--markdown-text-intro-c);
        font-size: 1.25rem;

        > strong,
        > b {
        color: var(--markdown-bold-c);
        }

        + p {
        color: var(--markdown-text-intro-c);
        font-size: 1.25rem;

        > strong,
        > b {
            color: var(--markdown-bold-c);
        }
        }
    }
}

a {
    color: var(--ifm-external-link);
}

a:hover {
    color: var(--ifm-external-link);
    opacity: 0.7;
}