/* src/components/timeline/TimelineTile.css */

.fern-step {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px 0;
}

.scroll-mt-content-padded {
  scroll-margin-top: 1rem;
}

.fern-anchor {
  margin-right: 15px;
  text-decoration: none;
}

.fern-anchor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0070f3;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  font-weight: bold;
}

.timeline-tile-content {
  display: flex;
  flex-direction: column;
}

.sub-step {
  padding-left: 55px; /* Adjust padding for better alignment of sub-steps */
}
