.timeline-step {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px 0;
}

.scroll-margin-padded {
  scroll-margin-top: 1rem;
}

.timeline-anchor {
  margin-right: 15px;
  text-decoration: none;
}

.timeline-anchor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #974ef2;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 1rem;
}

.timeline-tile-content {
  display: flex;
  flex-direction: column;
}

.timeline-sub-step {
  padding-left: 55px;
}

.timeline-paragraph {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: inherit;
}

.timeline-step h2,
.timeline-step h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.timeline-sub-step {
  margin-left: 40px;
}

.timeline-anchor:hover {
  text-decoration: underline;
}
