.parentCodeSelector > span {
    border-radius: 0px !important;
    // border-bottom-left-radius: 5px !important;
    // border-bottom-right-radius: 5px !important;
    padding: 5px 2px;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.parentCodeSelector > span > code {
    // make code text smaller
    // font-size: 0.85rem !important;
}

.parentCodeSelector > span > code:only-child {
    width: 100%;
    padding-left: 20px !important;
}

.parentCodeSelector > span > code:not(:first-child) {
    width: 100%;
    padding-left: 20px !important;
}