.cardContainer {
  --ifm-link-color: var(--ifm-heading-color);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 0 6px 2px rgba(67, 48, 43, 0.1);
}

.cardContainer:hover {
  box-shadow: 0 0 0 2px rgba(151, 78, 242, 0.2);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
  color: #846358;
}

[data-theme="dark"] .cardDescription {
  color: var(--ifm-color-emphasis-700);
}

[class^="ri-"] {
  opacity: 0.5;
}
