.codeBlock {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .tabBar {
    display: flex;
    background: #1f2332;
    border-bottom: 2px solid rgba(25, 20, 29, 0.3);
    align-items: center;
    padding: 8px;
    justify-content: flex-start;
  }
  
  .tabButton {
    padding: 8px 16px;
    cursor: pointer;
    border-top: 2px solid rgba(90, 109, 182, 0.1);
    border-left: 2px solid rgba(90, 109, 182, 0.1);
    border-right: 2px solid rgba(90, 109, 182, 0.1);
    background: none;
    outline: none;
    color: #dcdcdc;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
    font-size: 0.85em;
    border-bottom: 3px solid #974ef2;
    margin: 0 2px;
    border-radius: 3px;
  }
  
  .tabButton:hover {
    background: #6f3bae;
  }
  
  .activeTab {
    background: #974ef2;
    font-weight: bolder;
    color: #dcdcdc;
    border-bottom: 3px solid #ff953f;
  }
  
  .copyButtonInline {
    margin-left: auto;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    background: #974ef2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: background 0.3s, box-shadow 0.3s;
    margin-right: 2px;
  }
  
  .copyButtonInline:hover {
    background: #8042cd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .codeContent {
    padding: 20px;
    background: #272A36;
    font-family: "Fira Code", monospace;
    font-size: 1em;
    overflow-x: auto;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .codeContent pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }