.customCodeBlockWrapper .tabs-container {
  background-color: #272A36 !important;
}

.customCodeBlockWrapper .codeContent {
  scrollbar-width: none !important;
  scrollbar-color: #3f4250 #272A36 !important;
}

.customCodeBlockWrapper .codeContent::-webkit-scrollbar {
  height: 2px !important;
}

.customCodeBlockWrapper .codeContent::-webkit-scrollbar-thumb {
  background-color: #272A36 !important;
  border-radius: 2px !important;
}

.customCodeBlockWrapper .codeContent::-webkit-scrollbar-track {
  background: #272A36 !important;
}

.customCodeBlockWrapper .codeBlock .tabs {
  display: flex !important;
  background: #1f2332 !important;
  border-bottom: 2px solid rgba(25, 20, 29, 0.3) !important;
  align-items: center !important;
  padding: 8px 15px !important;
  justify-content: flex-start !important;
  border-radius: 10px !important;
}

.customCodeBlockWrapper .codeBlock .tabs__item {
  padding: 8px 15px !important;
  cursor: pointer !important;
  background: none !important;
  outline: none !important;
  color: #dcdcdc !important;
  font-size: 0.85em !important;
  border-radius: 3px !important;
  font-weight: 600 !important;
  border-bottom: 3px solid #974ef2 !important;
  margin-right: 6px !important;
}

.customCodeBlockWrapper .codeBlock .tabs__item:hover {
  border-bottom: 3px solid #ff953f !important;
}

.customCodeBlockWrapper .codeBlock .tabs__item--active:hover {
  border-bottom: 3px solid #ff953f !important;
}

.customCodeBlockWrapper .codeBlock .tabs__item--active {
  background: #974ef2 !important;
  font-weight: 800 !important;
  color: #dcdcdc !important;
  border-bottom: 3px solid #ff953f !important;
}

.customCodeBlockWrapper .copyButtonInline {
  position: absolute !important;
  right: 14px !important;
  top: -59px !important;
  margin-left: auto !important;
  padding: 10px 15px !important;
  cursor: pointer !important;
  font-weight: bold !important;
  background: #974ef2 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 4px !important;
  outline: none !important;
  transition: all 0.3s ease !important;
  font-size: 0.85em !important;
}

.customCodeBlockWrapper .copyButtonInline.copiedAnimation {
  background-color: #8042cd !important;
  color: white !important;
  transform: scale(0.95) !important;
}

.customCodeBlockWrapper .copyButtonInline:hover {
  background: #8042cd !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.customCodeBlockWrapper .codeContent {
  background: #272A36 !important;
  font-family: "Fira Code", monospace !important;
  font-size: 1em !important;
  overflow-x: auto !important;
  color: #dcdcdc !important;
  padding: 0 5px !important;
}

.customCodeBlockWrapper .tabContent {
  position: relative !important;
}
